.App {
  /* background: #f4f4f2; */
  background: #f1efef;
  color: #27374d;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1efef;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #27374d;
  border-radius: 20px;
  margin: 0 2px;
  cursor: pointer;
}
.formBtnStyle:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 576px) {
  .cmtField::-webkit-scrollbar {
    display: none;
  }
}
