main {
  color: #27374d;
}
.conDes {
  font-size: 16px;
  font-weight: 500;
}
.points {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .conDes {
    font-size: 14px;
    font-weight: 400;
  }
  .points {
    font-size: 14px;
    font-weight: 400;
  }
}
